<%- include("includes/head.ejs") %>
  <body>
    <h1>This is my Home page 2 + 18 </h1>
    <h3> <%= 2 + 18 %> </h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit totam
      quod, sed modi accusamus eaque non eligendi. Voluptatem placeat unde
      explicabo? Ut, officiis mollitia. Earum, sed? Commodi, voluptas architecto
      dolorem repudiandae placeat, earum excepturi adipisci ducimus iure officia
      dicta nesciunt omnis. Dolor quos quidem nostrum natus, corporis autem
      optio vero./p>
    </p>

    <button>Click me !!</button>
  </body>
</html>
